<div class="header-container flex-col">
  <header
    class="header header--sticky active"
    (mouseenter)="toggleActive(true)"
    (mouseleave)="toggleActive(false)"
    [class.scrolled]="isScrolledDown"
  >
    <div class="panel wrapper">
      <div class="panel header">
        <div class="header--panel-left">
          <div class="nav-block block-showrooms">
            <div class="nav-block-item nav-icon nav-icon-locator">
              <!-- <span class="material-icons-outlined section-icon"> call </span> -->
              <img src="/assets/phone.png" alt="" class="phone-img" />
              <span class="nav-icon-label">Sales Enquiry</span>
            </div>
          </div>
        </div>
        <div class="header--panel-right">
          <div class="trade-join">
            <a class="trade-button">Login</a>
          </div>

          <div class="header-actions-section">
            <div class="minicart-wrapper">
              <span
                class="material-icons-outlined section-icon bag-icon"
                (click)="toggleCart()"
              >
                shopping_bag
              </span>
              <div
                class="block block-minicart empty active"
                [ngClass]="{ 'display-none': !isCartActive }"
              >
                <div id="minicart-content-wrapper">
                  <div class="block-content">
                    <span
                      class="material-icons-outlined section-icon close-icon"
                      (click)="toggleCart()"
                    >
                      close
                    </span>
                    <strong class="subtitle empty"
                      ><span>You have no items in your shopping cart.</span>
                    </strong>
                  </div>
                </div>
              </div>
              <!-- <span class="counter-number">0</span> -->
            </div>
            <div
              class="customer-account-menu js-customer-account-menu minicart-wrapper"
            >
              <span
                class="material-icons-outlined section-icon bag-icon"
                (click)="toggleAccount()"
              >
                person_outline
              </span>
              <div
                class="block block-minicart empty active"
                [ngClass]="{ 'display-none': !isAccountActive }"
              >
                <div id="minicart-content-wrapper">
                  <div class="block-content">
                    <span
                      class="material-icons-outlined section-icon close-icon"
                      (click)="toggleAccount()"
                    >
                      close
                    </span>
                    <div class="user-actions-content">
                      <div class="content-info" *ngIf="!isUserLogedIn">
                        <div class="info-title">Welcome</div>
                        <div class="info-email">
                          To access account and manage actions
                        </div>
                      </div>
                      <div class="content-info" *ngIf="isUserLogedIn">
                        <div class="info-title">Hello {{ userName }}</div>
                        <div class="info-email">{{ userMobile }}</div>
                      </div>
                      <div>
                        <div
                          class="get-user-in-links .get-in-links"
                          *ngIf="!isUserLogedIn"
                        >
                          <a class="link-btn" (click)="openLoginModal()"
                            >Login / Signup</a
                          >
                        </div>
                        <div class="get-in-links">
                          <div
                            class="info"
                            (click)="navigateToDashboard()"
                            *ngIf="isAdmin"
                          >
                            <div class="info-section">Admin Dashboard</div>
                          </div>
                          <div class="info">
                            <div class="info-section" routerLink="/user/orders">
                              My Orders
                            </div>
                          </div>
                          <div class="info">
                            <div
                              class="info-section"
                              routerLink="/user/wishlist"
                            >
                              My Wishlist
                            </div>
                          </div>
                          <div class="info">
                            <div class="info-section">Contact Us</div>
                          </div>
                          <div
                            class="info"
                            (click)="logout()"
                            *ngIf="isUserLogedIn"
                          >
                            <div class="info-section">Logout</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <strong class="subtitle empty"
                      ><span>You have no items in your shopping cart.</span>
                    </strong> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="block block-search algolia-search-block">
              <span
                class="material-icons-outlined section-icon search-icon"
                (click)="toggleSearch()"
              >
                search
              </span>
              <div
                class="block block-content"
                [ngClass]="{ 'display-none': !isSearchActive }"
              >
                <form id="search_mini_form">
                  <div id="algolia-searchbox">
                    <span
                      class="algolia-autocomplete"
                      [ngClass]="{ active: isSearchActive }"
                      id="algolia-autocomplete-tt"
                    >
                      <input
                        id="search"
                        type="text"
                        name="query"
                        class="input-text algolia-search-input aa-input"
                        placeholder="Search for products, categories, ..."
                      />
                    </span>
                    <span class="clear-cross clear-query-autocomplete"></span>
                    <span id="algolia-glass" class="magnifying-glass"></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="header--panel-bottom nav-sections">
          <nav class="navigation">
            <ul>
              <li
                class="level0 nav-2 level-top megamenu_in-stock in-stock with-dropdown"
              >
                <a class="level-top" routerLink="/filtered-posts"
                  ><span>All</span></a
                >
                <ul class="megamenu-dropdown submenu">
                  <li class="megamenu-dropdown-container">
                    <div class="nn--content-wrapper">
                      <ul class="nn--row nn--6cols">
                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Price Range</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let priceRange of priceRanges"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ priceRange: priceRange.id }"
                              >
                                <span class="nn--caption">{{
                                  priceRange.range
                                }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Rooms</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let room of rooms"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ room: room.id }"
                              >
                                <span class="nn--caption">{{ room.name }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Materials</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let material of materials"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ material: material.id }"
                              >
                                <span class="nn--caption">{{
                                  material.name
                                }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Weaving Technique</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let weavingTechnique of weavingTechniques"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{
                                  weavingTechnique: weavingTechnique.id
                                }"
                              >
                                <span class="nn--caption">{{
                                  weavingTechnique.name
                                }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Patterns</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let pattern of patterns"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ patternRange: pattern.id }"
                              >
                                <span class="nn--caption">{{
                                  pattern.name
                                }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Colors</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let color of colors"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ color: color.id }"
                              >
                                <span class="nn--caption">
                                  <div class="color-caption">
                                    <span
                                      class="colour-label colour-colorDisplay"
                                      [ngStyle]="{
                                        backgroundColor: color.code,
                                        border:
                                          color.name === 'White'
                                            ? '1px solid #d6d6d6'
                                            : 'none'
                                      }"
                                    ></span>
                                    <span>{{ color.name }}</span>
                                  </div>
                                </span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Shapes</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let shape of shapes"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ shape: shape.id }"
                              >
                                <span class="nn--caption">{{
                                  shape.name
                                }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>

                        <li class="nn--col nn--span1 nn--with-unit-toggle">
                          <a class="nn--link nn--trigger">
                            <span class="nn--caption">Sizes</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let size of sizes"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ size: size.id }"
                              >
                                <span class="nn--caption">{{ size.size }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li
                class="level0 nav-4 level-top megamenu_bestsellers bestsellers with-dropdown"
              >
                <a class="level-top"><span>Newest</span></a>
                <ul class="megamenu-dropdown submenu">
                  <li class="megamenu-dropdown-container">
                    <div class="nn--content-wrapper">
                      <ul class="nn--row">
                        <li class="nn--col" *ngFor="let item of newest">
                          <a class="nn--link" [title]="item.title">
                            <figure [title]="item.title">
                              <img
                                [src]="item.imgSrc"
                                class="nn--image form-lazy is-loaded seller-img"
                                [alt]="item.alt"
                              />
                              <figcaption>
                                <span class="nn--caption">
                                  <span class="nn--first">{{
                                    item.first
                                  }}</span>
                                  <span class="nn--second">{{
                                    item.second
                                  }}</span>
                                </span>
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li
                class="level0 nav-4 level-top megamenu_bestsellers bestsellers with-dropdown"
              >
                <a class="level-top"><span>Custom</span></a>
                <ul class="megamenu-dropdown submenu">
                  <li class="megamenu-dropdown-container">
                    <div class="nn--content-wrapper">
                      <ul class="nn--row">
                        <li class="nn--col" *ngFor="let item of custom">
                          <a class="nn--link" [title]="item.title">
                            <figure [title]="item.title">
                              <img
                                [src]="item.imgSrc"
                                class="nn--image form-lazy is-loaded seller-img"
                                [alt]="item.alt"
                              />
                              <figcaption>
                                <span class="nn--caption">
                                  <span class="nn--first">{{
                                    item.first
                                  }}</span>
                                  <span class="nn--second">{{
                                    item.second
                                  }}</span>
                                </span>
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li
                class="level0 nav-4 level-top megamenu_bestsellers bestsellers with-dropdown"
              >
                <a class="level-top"><span>Bestsellers</span></a>
                <ul class="megamenu-dropdown submenu">
                  <li class="megamenu-dropdown-container">
                    <div class="nn--content-wrapper">
                      <ul class="nn--row">
                        <li class="nn--col" *ngFor="let item of bestSellers">
                          <a class="nn--link" [title]="item.title">
                            <figure [title]="item.title">
                              <img
                                [src]="item.imgSrc"
                                class="nn--image form-lazy is-loaded seller-img"
                                [alt]="item.alt"
                              />
                              <figcaption>
                                <span class="nn--caption">
                                  <span class="nn--first">{{
                                    item.first
                                  }}</span>
                                  <span class="nn--second">{{
                                    item.second
                                  }}</span>
                                </span>
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li
                class="level0 nav-10 level-top megamenu_type type with-dropdown"
              >
                <a class="level-top"><span>Collections</span></a>
                <ul class="megamenu-dropdown submenu">
                  <li class="megamenu-dropdown-container">
                    <div class="nn--content-wrapper">
                      <ul class="nn--row nn--6cols">
                        <li class="nn--col nn--span1">
                          <a
                            class="nn--link nn--trigger"
                            title="Type: Collection"
                          >
                            <span class="nn--caption">Collections</span>
                          </a>
                          <ul class="nn--submenu">
                            <li
                              class="nn--submenu-item"
                              *ngFor="let collection of collections"
                            >
                              <a
                                class="nn--link"
                                [routerLink]="['/filtered-posts']"
                                [queryParams]="{ collection: collection.id }"
                              >
                                <span class="nn--caption">{{
                                  collection.name
                                }}</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span2">
                          <a
                            class="nn--link nn--blog"
                            title="Type: Materials: Spotlight on Silk"
                          >
                            <div class="gallery">
                              <div class="image-box active">
                                <img
                                  src="https://cfdblob.blob.core.windows.net/clothwear/Codeokk318327.PNG"
                                  alt="Random Image"
                                />
                              </div>
                              <div class="image-box">
                                <img
                                  src="https://cfdblob.blob.core.windows.net/clothwear/Codeokk310589.PNG"
                                  alt="Random Image"
                                />
                              </div>
                              <div class="image-box">
                                <img
                                  src="https://cfdblob.blob.core.windows.net/clothwear/Codeokk500937.PNG"
                                  alt="Random Image"
                                />
                              </div>
                              <div class="image-box">
                                <img
                                  src="https://cfdblob.blob.core.windows.net/clothwear/Codeokk862338.PNG"
                                  alt="Random Image"
                                />
                              </div>
                              <div class="image-box">
                                <img
                                  src="https://cfdblob.blob.core.windows.net/clothwear/Codeokk980717.jpg"
                                  alt="Random Image"
                                />
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li
                class="level0 nav-4 level-top megamenu_bestsellers bestsellers with-dropdown"
              >
                <a class="level-top"><span>Stories</span></a>
                <ul class="megamenu-dropdown submenu">
                  <li class="megamenu-dropdown-container">
                    <div class="nn--content-wrapper">
                      <ul class="nn--row stories">
                        <li class="nn--col" *ngFor="let item of stories">
                          <a
                            class="nn--link"
                            [title]="item.title"
                            routerLink="/stories"
                          >
                            <figure [title]="item.title">
                              <img
                                [src]="item.imgSrc"
                                class="nn--image form-lazy is-loaded seller-img"
                                [alt]="item.alt"
                              />
                              <figcaption>
                                <span class="nn--caption">
                                  <span class="nn--first">{{
                                    item.first
                                  }}</span>
                                  <span class="nn--second">{{
                                    item.second
                                  }}</span>
                                </span>
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li
                class="level0 nav-12 last level-top megamenu_projects projects with-dropdown"
              >
                <a class="level-top"><span>Blogs</span></a>
                <ul class="megamenu-dropdown submenu">
                  <li class="megamenu-dropdown-container">
                    <div class="nn--content-wrapper">
                      <ul class="nn--row nn--6cols">
                        <li class="nn--col nn--span3">
                          <a
                            class="nn--link nn--trigger nn--blog"
                            title="Projects: Case Studies"
                          >
                            <span class="nn--caption">CASE STUDIES</span>
                          </a>
                          <ul class="nn--submenu">
                            <li class="nn--submenu-item">
                              <a
                                class="nn--link nn--blog"
                                title="Projects: Case Studies: Miami Dolphins Training Complex, Miami, USA"
                              >
                                <span class="nn--caption"
                                  >Miami Dolphins Training Complex, Miami,
                                  USA</span
                                >
                              </a>
                            </li>
                            <li class="nn--submenu-item">
                              <a
                                class="nn--link nn--blog"
                                title="Projects: Case Studies: Manolo Blahnik Showrooms Around The World"
                              >
                                <span class="nn--caption"
                                  >Manolo Blahnik Showrooms Around The
                                  World</span
                                >
                              </a>
                            </li>
                            <li class="nn--submenu-item">
                              <a
                                class="nn--link nn--blog"
                                title="Projects: Case Studies: Equinox Hotel, New York, USA"
                              >
                                <span class="nn--caption"
                                  >Equinox Hotel, New York, USA</span
                                >
                              </a>
                            </li>
                            <li class="nn--submenu-item">
                              <a
                                class="nn--link nn--blog"
                                title="Projects: Case Studies: 1228 Madison Living Gallery, New York, USA"
                              >
                                <span class="nn--caption"
                                  >1228 Madison Living Gallery, New York,
                                  USA</span
                                >
                              </a>
                            </li>
                            <li class="nn--submenu-item">
                              <a
                                class="nn--link nn--blog"
                                title="Projects: Case Studies: Stormbreaker Yacht by Winch Design"
                              >
                                <span class="nn--caption"
                                  >Stormbreaker Yacht by Winch Design</span
                                >
                              </a>
                            </li>
                            <li class="nn--submenu-item">
                              <a
                                class="nn--link nn--blog"
                                title="Projects: Case Studies: All Projects"
                              >
                                <span class="nn--caption">All Projects</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nn--col nn--span2">
                          <a
                            class="nn--link"
                            title="Projects: The Rug Company LAB: Projects &amp; Applications Booklet"
                          >
                            <figure
                              title="The Rug Company LAB: Projects &amp; Applications Booklet"
                            >
                              <img
                                src="https://cfdblob.blob.core.windows.net/khushi-enterprises/Rugs-1.png"
                                class="nn--image form-lazy is-loaded"
                                alt="The Rug Company LAB: Projects &amp; Applications Booklet"
                              />
                              <figcaption>
                                <span class="nn--caption">
                                  <span class="nn--first"
                                    >The Rug Company LAB: Projects &amp;
                                    Applications Booklet</span
                                  >
                                </span>
                              </figcaption>
                            </figure>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="header content">
      <div class="logo-wrapper">
        <a class="logo" href="/" title="The Rug Company">
          <span class="logo-text">Khushi Enterprises</span>
          <!-- <img
            src="https://www.therugcompany.com/static/version1717746379/frontend/trc/trc/en_US/images/TRC-logo.svg"
            alt="The Rug Company logo - black version"
            class="logo-dark"
            *ngIf="!isActive"
          />
          <img
            src="https://www.therugcompany.com/static/version1717746379/frontend/trc/trc/en_US/images/TRC-logo-white.svg"
            alt="The Rug Company logo - white version"
            class="form-lazy logo-white is-loaded"
            *ngIf="isActive"
          /> -->
        </a>
      </div>
    </div>
  </header>
</div>
