.flex-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.display-none {
  display: none !important;
}

.header-container {
  margin: 0;
  min-height: 100%;
  position: relative;
  transition: margin 0.3s ease-out 0s;
  z-index: 100;
}

.header-container:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #333;
  opacity: 0;
  content: "";
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: -1;
}

.header-container.active:before,
.header-container.search-active:before {
  opacity: 1;
}

.header-container .header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.header-container .header {
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.header.header--sticky.active {
  background: #333;
}

.header.scrolled {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.header .panel.wrapper {
  position: relative;
  left: unset;
  top: unset;
}

.panel.wrapper {
  width: 100%;
  padding: 0;
}

.header .panel.header {
  min-height: 148px;
}

.header .panel.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 120px;
}

.header-container .header .panel.header {
  padding: 0;
  max-width: 1396px;
  margin: 0 auto;
}

.header.panel:before,
.header.panel:after {
  content: " ";
  display: table;
}

.header--panel-left,
.header--panel-right {
  display: flex;
  /* float: none;
  flex-basis: 48%;
  flex-grow: 0;
  flex-shrink: 0; */
  margin: 0;
  padding: 0;
  align-items: center;
  min-height: 75px;
  height: 75px !important;
  width: 50%;
}

.header .header--panel-left:before,
.header .header--panel-left:after {
  content: " ";
  display: table;
}

.header-container .header--sticky .nav-sections {
  border-bottom: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  margin: 0;
  padding: 0;
}

.nav-block {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.header-container .header--panel-left .nav-block .nav-block-item {
  color: #222;
}

.header.header--sticky.active .header--panel-left .nav-block .nav-block-item {
  color: #fff;
}

.nav-block .nav-block-item,
.nav-block .nav-block-item:hover,
.nav-block .nav-block-item:visited {
  /* text-decoration: none; */
  color: #000;
  /* font-size: 12px;
  letter-spacing: 0.5px; */
  position: relative;
  cursor: pointer;
}

.nav-block .nav-block-item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.section-icon {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0px;
  cursor: pointer;
}

.header.active .section-icon {
  color: #fff;
}

.header--panel-left:after {
  clear: both;
}

.header--panel-right {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  min-height: 75px;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.header--panel-right .trade-join {
  float: right;
  margin-left: 40px;
  display: block;
}

.header--panel-right .trade-join .trade-button {
  background: #525252;
  display: inline-block;
  transform: translateY(-2px);
}

.trade-button {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.9px;
  padding: 8px 18px 6px;
}

.header-actions-section {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 1;
  float: right;
  margin-left: 20px;
}

.minicart-wrapper {
  display: inline-block;
  position: relative;
  float: right;
  margin-left: 20px;
}

.minicart-wrapper:before,
.minicart-wrapper:after {
  content: "";
  display: table;
}

.header-container
  .header--sticky
  .header-actions-section
  .minicart-wrapper
  .action {
  color: #000;
}

.bag-icon,
.search-icon {
  margin-top: 0px;
}

.customer-account-menu {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0 0 0 15px;
  display: block;
}

.block-search {
  margin-bottom: 0;
  margin-right: 5px;
  padding-left: 15px;
  float: right;
}

.header--panel-bottom {
  display: block;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

.nav-sections {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}

.header--panel-bottom .navigation {
  display: block;
  height: inherit;
  left: auto;
  overflow: inherit;
  padding: 0;
  position: static;
  top: 0;
  width: 100%;
  background: 0 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 18px;
  border-top: 1px solid #222;
}

.header.active .header--panel-bottom .navigation {
  border-top: 1px solid #fff;
}

.header--panel-bottom .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  position: static;
}

.header--panel-bottom .navigation li.level0 {
  padding: 0;
  margin: 0;
  position: static;
  flex-grow: 1;
  text-align: center;
  display: inline-block;
}

.header--panel-bottom .navigation li.level0 > .level-top {
  margin: 0;
  padding: 0;
  line-height: 47px;
  font-size: 11px;
  font-style: normal;
  border-bottom: 0 none;
  color: #000;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 400;
}

.header.header--sticky.active
  .header--panel-bottom
  .navigation
  li.level0
  > .level-top {
  color: #fff;
}

.nav-sections .navigation .level0 > .level-top span {
  display: inline-block;
  position: relative;
}

.navigation > ul > li.level0 .submenu.level0 {
  display: block !important;
}

.header--panel-bottom .navigation li.level0 .submenu {
  top: 123px !important;
  min-height: 250px;
  max-height: 375px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out 0.1s;
  text-align: left;
  padding: 20px 20px;
  /* display: none; */
}

/* .header--panel-bottom .navigation li.level0.hovered .submenu {
  visibility: visible !important;
} */

.level-top a {
  cursor: pointer;
}

.navigation .megamenu-dropdown {
  padding: 40px 0;
}

.navigation .submenu {
  font-weight: 400;
  min-width: 100%;
  margin: 0 !important;
  z-index: 1;
  overflow: hidden;
  background: #fff;
  width: 100% !important;
  position: absolute !important;
  left: 0 !important;
  border-top: 1px solid #ebebeb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  max-width: 1396px;
  margin: 0 auto;
}

.level0 .submenu {
  display: none !important;
}

.navigation li.level0:hover .submenu {
  display: block !important;
}

/* .header.scrolled .navigation li.level0:hover .submenu {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
} */

.navigation .level0 .submenu .megamenu-dropdown-container {
  opacity: 1;
  max-width: 1396px;
  margin: 0 auto !important;
}

.navigation > ul > li.level0 .submenu.level0 .megamenu-dropdown-container {
  transition: opacity 0.4s ease-in-out 0.1s;
}

.nn--6cols .nn--col.nn--span4 {
  flex-basis: calc(((100% - (6 * 20px)) / 7) * 4 + (20px * 3));
}

.nn--trigger .nn--caption {
  font-weight: 600 !important;
}

.colour-colorDisplay {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  /* border: 1px solid black; */
}

.color-caption {
  display: flex;
  align-items: center;
}

.nn--6cols .nn--submenu.nn--split4 {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  column-gap: 20px;
  column-count: 4;
  justify-content: space-between;
}

.nn--link figure {
  width: 230px;
}

.seller-img {
  width: 100%;
  height: 300px;
}

.stories .seller-img {
  height: 300px !important;
}

figcaption .nn--caption {
  width: 100%;
  text-align: center;
}

.bestsellers .nn--col.nn--last {
  flex-basis: 50px;
}

.nn--col.nn--rotated {
  padding-bottom: 55px;
}

.nn--col .nn--link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}

figure {
  margin: 0;
}

.nn--col.nn--rotated span {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transform-origin: 50% 50%;
  text-transform: uppercase;
}

.nn--col .nn--caption {
  margin: 0 !important;
  padding: 0;
  text-transform: none;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.nn--row {
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: nowrap;
}

.nn--6cols .nn--col.nn--span1 {
  flex-basis: calc(((100% - (6 * 20px)) / 7) * 1 + (20px * 0));
}

nav .megamenu-dropdown-container {
  width: unset;
  max-width: 1416px;
  min-height: 280px;
  padding: 0 40px;
}

nav .megamenu-dropdown-container:before,
nav .megamenu-dropdown-container:after {
  content: " ";
  display: table;
}

.content-info {
  display: block;
  padding-bottom: 2px;
}

.info-title {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
  height: 20px;
  font-weight: 700;
}

.info-email {
  height: 18px;
  color: #282c3f;
}

.info-email,
.info-title {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
}

.get-user-in-links {
  border: none;
}

.get-in-links {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  padding-bottom: 0px;
  border-top: 1px solid #eaeaec;
}

.link-btn:first-child {
  margin: 0 5px 6px 0;
}

.link-btn {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 10px 0 0;
  border: 1px solid #eaeaec;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--dynamic-app-color);
  font-weight: 700;
  cursor: pointer;
}

.link-btn:hover {
  border: 1px solid var(--dynamic-app-color);
}

.info {
  font-weight: 400;
  font-size: 14px;
  color: #3e4152;
}

.info-section {
  margin: 0;
  cursor: pointer;
  padding: 7px 0 10px !important;
}

.info-section:hover {
  color: #000;
  font-weight: 700;
}

.nn--content-wrapper {
  overflow: hidden;
  width: 97%;
  margin: 0;
  padding: 0;
}

.header--panel-bottom .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nn--6cols {
  flex-wrap: nowrap;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nn--6cols .nn--col.nn--span1 {
  flex-basis: calc(((100% - (6 * 20px)) / 7) * 1 + (20px * 0));
  margin: 0;
  padding: 0;
}

.nn--6cols .nn--link {
  height: unset;
  margin-bottom: 1rem;
}

.nn-col .nn--link {
  display: block;
  position: relative;
  width: 100%;
  color: #000;
  text-decoration: none;
}

.nn--col .nn--link .nn--caption {
  display: inline-block;
}

.nn--col .nn--caption {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 13px;
}

.nn--col .nn--link .nn--caption:after {
  display: block;
  content: " ";
  border-bottom: 1px solid #fff;
  width: 0;
}

.header--panel-bottom .navigation ul.nn--submenu {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
}

.nn--6cols .nn--col .nn--submenu-item {
  height: unset;
  margin-top: 0;
  margin-bottom: -10px;
}

.nn--6cols .nn--link {
  height: unset;
}

.nn--6cols .nn--col:last-child .nn--image {
  width: 368px;
  height: 280px;
  object-fit: cover;
}

.is-loaded {
  opacity: 1;
  transition-delay: 0.2s;
}

.form-lazy {
  display: block;
  max-width: 100%;
  transition: opacity 0.2s 0.1s ease-in-out;
}

.header .header.content {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
}

.header .header.content .logo-wrapper {
  /* width: 100px; */
  width: 300px;
  margin: 10px auto 10px auto;
  margin-top: 0px;
}

.logo-wrapper .logo {
  position: relative;
  z-index: 5;
  display: block;
  margin-top: 17px;
  text-align: center;
}

.logo-text {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.header .logo-dark {
  display: block;
}

.algolia-search-block #algolia-searchbox .algolia-autocomplete.active {
  opacity: 1;
  visibility: visible;
}

.algolia-search-block #algolia-searchbox .algolia-autocomplete {
  position: absolute;
  top: 75px;
  height: auto;
}

.algolia-search-block #algolia-searchbox .algolia-autocomplete {
  z-index: 6;
  opacity: 0;
  background: #fff;
  width: 100%;
  text-align: center;
  position: absolute !important;
  left: 0;
  padding: 50px 25px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#algolia-autocomplete-tt.algolia-autocomplete {
  width: 100%;
  display: inline-block !important;
}

.algolia-search-block #algolia-searchbox .algolia-autocomplete #search {
  width: 700px;
}

.phone-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -3px;
}

.algolia-search-block #algolia-searchbox .algolia-autocomplete #search {
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  color: #9b9b9b;
  font-size: 18px;
  letter-spacing: 0.75px;
  padding: 0;
  padding-bottom: 4px;
  outline: none;
}

#algolia-searchbox .algolia-search-input {
  position: static !important;
}

.header-actions-section .block-minicart.active {
  opacity: 1;
  visibility: visible;
}

.header-actions-section .block-minicart {
  position: absolute;
  width: 420px;
  right: -15px;
  margin-top: 16px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(181, 181, 181, 0.08);
  -moz-box-shadow: 0px 0px 40px 0px rgba(181, 181, 181, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(181, 181, 181, 0.08);
  padding: 50px 25px 25px;
  display: block;
  transition: all 0.2s ease;
}

.customer-account-menu .block-minicart {
  padding-top: 25px;
}

.minicart-wrapper .block-minicart {
  margin: 0;
  list-style: none none;
  background: #fff;
  min-width: 100%;
  z-index: 100;
  box-sizing: border-box;
  top: 100%;
}

.block-minicart .subtitle.empty {
  display: block;
  font-size: 14px;
  padding: 30px 0 20px;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 18px;
  color: #222 !important;
}

pre {
  background: #f6f6f6;
  border: 1px solid #ccc;
  color: #111;
  line-height: 1.42857143;
  margin: 0 0 10px;
  padding: 10px;
  display: block;
  word-wrap: break-word;
}

.gallery {
  height: 300px;
  width: 50%;
  display: flex;
  /* margin: 0 auto 0; */
  box-sizing: border-box;
  margin-left: auto;
}
.image-box {
  margin: 0 0.5%;
  flex-grow: 1;
  flex-basis: 0;
  transition: 0.5s;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.image-box:hover {
  flex-basis: 50%;
}
.active {
  flex-basis: 50%;
}
.gallery:hover .active {
  flex-basis: 0;
}
.image-box:nth-child(1):hover {
  flex-basis: 50%;
}

@media (min-width: 768px) {
  .header-container .header--sticky .nav-sections {
    border-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin: 0;
    padding: 0;
  }
}

.navigation .megamenu_the-archive > a > span {
  color: #000000;
}
.navigation .megamenu_archive > a > span {
  color: #000000;
}
.header.active .navigation .megamenu_the-archive > a > span {
  color: #ffffff;
}
.header.active .navigation .megamenu_archive > a > span {
  color: #ffffff;
}
@media (max-width: 1023px) {
  .page-header .header.content .logo-wrapper {
    margin: 0 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
