<div class="stories-section">
  <p class="stories-head">Khushi Enterprises - World's Top Quality Rugs</p>
  <p class="stories-desc">
    Colorful rituals, enchanted palaces and ivory forts. Our company is based in
    Jaipur, the capital city of Rajasthan, in the North West of India. The
    city’s culture, architecture and ethos resonate in everything single rug we
    produce, making it unique.
  </p>
  <div class="img-container">
    <div class="image">
      <img
        src="https://cfdblob.blob.core.windows.net/clothwear/Codeokk436294.PNG"
        alt=""
      />
    </div>
    <div class="image">
      <img
        src="https://cfdblob.blob.core.windows.net/clothwear/Codeokk354414.PNG"
        alt=""
      />
    </div>
  </div>
  <p class="stories-desc">
    Built in 1727, Jaipur quickly became a melting pot of people and ideas
    thanks to its visionary rulers, who surrounded themselves with the best
    artists and artisans of their times.
  </p>
  <div class="stories-desc">
    This remarkable cultural heritage can be seen today in crafts such as the
    blue pottery and the iron carving, or in traditional performances like the
    Ghoomar and Chari dances.
  </div>
</div>
